/*
The MIT License

Copyright 2017 Daniel Popiniuc.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
/*
    Created on : Mar 5, 2017, 11:05:55 PM
    Author     : Daniel Popiniuc
*/

@import "compass/css3";
// re-se already crafted styles
@import "../../vendor/danielgp/common-styles/scss/baseLight.scss";
@import "../../vendor/danielgp/common-styles/scss/common.scss";
@import "../../vendor/danielgp/common-styles/scss/form.scss";
@import "../../vendor/danielgp/common-styles/scss/gradients.scss";
@import "../../vendor/danielgp/common-styles/scss/tabber.scss";
@import "../../vendor/danielgp/common-styles/scss/table.scss";
@import "../../vendor/danielgp/common-styles/scss/upperRightBox.scss";
@import "jquery.multilevelpushmenu.min.scss";
@import "jquery-ui.sortable";
// and some specific tweaks for current application
h1 {
    font-size: xx-large;
}
header {
    @extend .gradientBlueGlossy;
    @include box-shadow(0px, 3px, 3px, #ccc);
    margin: 0px 0px 0px 40px;
    padding: 0px 0px 2px 5px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 900;
}
footer {
    @extend .gradientBlueGlossy;
    @include box-shadow(0px, 0px, 10px, #999);
    bottom: 0px;
    font-weight: bold;
    font-size: smaller;
    padding: 5px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 100;
}
#ContentContainer {
    margin: 45px 5px 5px 45px;
    float: left;
}
#SVmenu {
    height: 100%;
    position: absolute;
    z-index: 900;
}
